body {
  padding: 0 0 32px;
  background: #141414;
  color: #d8d8d8;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.content {
  margin: 0 auto;
  max-width: 720px;
}

section { margin: 0 16px; }

header.action-bar {
  display: block;
  width: 100%;
  height: 44px;
  margin: 0;
  padding: 2px 0 4px;
  border-bottom: 2px solid #33b5e5;
}

.action-bar h1::before {
  content: "";
  display: block;
  margin-left: -56px;
  margin-top: -12px;
  float: left;
  height: 48px;
  width: 48px;
  background: url("icon.png");
  background-size: contain;
}

.action-bar h1 {
  border: none;
  font-size: 18px;
  margin-top: 12px;
  margin-left: 56px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  border-bottom: 2px solid #0099cc;
  font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  font-weight: 400;
  margin-top: 32px;
}

a {
  color: #33b5e5;
  text-decoration: none;
}
a:hover, a:focus { text-decoration: underline; }
a:visited { color: #b8f; }
a:focus   { color: #fb3; }
a:active  { color: #f44; }

li:not(:last-child) { border-bottom: 1px solid #666; }

li {
  padding: 0 16px 0 48px;
  clear: both;
}

ol, ul {
  counter-reset: li;
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
}

ul > li::before, ol > li::before {
  counter-increment: li;
  float: left;
}

ul > li::before {
  counter-reset: ul;
  content: "";
  display: block;
  margin: 7px 0 0 -29px;
  width: 6px;
  height: 6px;
  background: #0099cc;
  font-size: 18px;
}

ol > li::before {
  content: counter(li);
  counter-reset: ol;
  margin-left: -40px;
  width: 32px;
  font-size: 18px;
  text-align: center;
  color: #0099cc;
}

p.note {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  background: #525252;
  border-radius: 32px;
  padding: 8px 20px;
  font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
  font-weight: 400;
}

#derpicorn {
  width: 177px;
  height: 234px;
  margin: 64px auto 0;
  background: url("derp.png");
  background-size: contain;
}
